.rpd-anm-tk-node .rpd-inlet,
.rpd-anm-tk-node .rpd-outlet {
    white-space: nowrap;
}

.rpd-anm-tk-node.rpd-anm-color .rpd-body {
    padding: 2px 8px;
}

.rpd-anm-tk-node.rpd-anm-color .rpd-body div > span {
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    border: 1px solid rgba(255,255,255,.1);
    margin: 1px;
}

.rpd-anm-tk-node.rpd-anm-color .rpd-body td > div {
    max-height: 300px;
    overflow: scroll;
}

.rpd-anm-tk-node .rpd-inlet.rpd-anm-colors .rpd-value.rpd-anm-one-color,
.rpd-anm-tk-node .rpd-outlet.rpd-anm-colors .rpd-value.rpd-anm-one-color {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    border: 1px solid #000;
}

.rpd-anm-tk-node .rpd-inlet.rpd-anm-color .rpd-value.rpd-anm-one-color {
    position: relative;
    top: 2px;
}

.rpd-anm-tk-node.rpd-anm-spread .rpd-body div > span,
.rpd-anm-tk-node.rpd-anm-pair .rpd-body div > span {
    float: left;
    clear: left;
}

.rpd-anm-tk-node.rpd-anm-spread .rpd-body div > span:hover,
.rpd-anm-tk-node.rpd-anm-pair .rpd-body div > span:hover {
    background-color: rgba(0,0,66,0.2);
}

.rpd-anm-tk-node.rpd-anm-spread .rpd-body td > div,
.rpd-anm-tk-node.rpd-anm-pair .rpd-body td > div {
    max-height: 200px;
    overflow: scroll;
}
